/* FONT FACE */
@font-face { font-family: 'ProximaNova-Light'; src: url('fonts/ProximaNova-Light.otf'); }
@font-face { font-family: 'ProximaNova-Regular'; src: url('fonts/ProximaNova-Regular.otf'); }
@font-face { font-family: 'ProximaNova-SemiBold'; src: url('fonts/ProximaNova-SemiBold.otf'); }
@font-face { font-family: 'Raleway-Medium'; src: url('fonts/Raleway-Medium.ttf'); }

body{
  background: #fff !important;
  color: #07001F;
  font-family: 'ProximaNova-Regular';
}
h1, h2, h3, h4, h5, h6, blockquote {
    color: #07001F;
    margin: 0;
    font-weight: inherit;
}
.cover{ background-position: center; background-repeat: no-repeat; background-size: cover; }
div, input, textarea, button { outline: none; }
button { text-align: center; border: none; line-height: 1;}
input { border: none; }
a { cursor: pointer; color: #07001F; border: 0; outline: 0 !important; border: 0 !important;}
a:hover{
  color: #80159F;
}
input:focus, textarea:focus, select:focus, button:focus {
    outline: 0 !important;
}
:focus {
    outline: 0 !important;

    border: 1px solid #424081;
}
html {
    scroll-behavior: smooth;
}
#mainnav,
ul.navbar-nav,
ul.footer-link{
    scroll-behavior: smooth;
}
ul.navbar-nav li a,
ul.footer-link li a{
    outline: 0;
    border: 0;
}
body.modal-open {
    padding-right: 0px !important;
}
.navbar-toggler {
    background: transparent !important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    border: 0;
    outline: 0;
}
#mainnav a.nav-link {
    padding: 0px !important;
}
.row{
  width: 103%;
}
/* BUTTON SETTINGS */
.button-1,
.button-full,
.button-sm-1,
.button-subscribe{
    background: #424081;
    border: 1px solid #424081;
    color: #fff;
    text-transform: uppercase;
    outline: 0 !important;
    letter-spacing: 2px;
    cursor: pointer !important;
}
.button-1 {
    padding: 10px 5px;
    width: 200px;
    font-size: 18px;
    font-family: 'Montserrat-SemiBold';
}
.button-banner{
    padding: 10px 30px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold';
    margin-top: 45px;
}
.center{
    text-align: center;
}
.button-banner:hover{
    background: blue;
}
.button-full{
    padding: 10px 5px;
    width: 100%;
}
.button-sm-1{
    padding: 15px 30px;
    line-height: 1;
}
.site-header .navbar-brand img {
    width: auto;
    max-width: 100%;
    max-height: 150px;
    border-radius: 0px !important;
    position: absolute;
    top: -38px;
    left: 0;
}
header.has-fixed .navbar-brand img {
    top: 0;
}
.before-header p {
    width: 100%;
    text-align: center;
    font-family: 'ProximaNova-Light';
    font-size: 20px;
}
.before-header p span{
  color: #80159F;
  margin-right: 8px;
}
ul.navbar-nav li:hover span.menu-arrow{
    visibility: visible;
}
span.menu-arrow {
    font-size: 24px;
    color: #d43d72;
    text-align: center;
    display: block;
    visibility: hidden;
}
.site-header .navbar {
    transition: none !important;
}

/* END OF BUTTON SETTINGS */
div#mainnav {
    background: #80159F;
}
#mainnav a.nav-link {
    margin-left: 20px !important;
    margin-right: 20px !important;
    font-size: 20px;
    line-height: 50px;
    font-family: 'ProximaNova-Regular';
    text-transform: none;
}
#mainnav li a{
  color: #fff;
}
#mainnav li:hover a,
#mainnav li:visited a,
#mainnav li:active a{
  color: #C67ADB;
}
.before-header{
  width: 100%;
  display: block;
  background: #F9F9F9;
}
#homebanner {
    background: #f9f9f9;
    height: 100vh;
    margin-top: 0px;
    background-attachment: fixed;
    padding: 150px 15px 0px;
}
.home-banner-details {
    background: #fff;
    padding: 30px;
    position: absolute;
    right: 0;
    width: 544px;
    text-align: center;
}
.home-banner-details h5 {
    font-size: 40px;
    font-family: 'ProximaNova-Regular';
    line-height: 50px;
    letter-spacing: 1px;
    color: #17171C;
    margin-bottom: 15px;
}
.banner-button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    line-height: 60px;
    letter-spacing: 2px;
}
.light-btn{
    background: #C67ADB;
    border: 2px solid #C67ADB;
}
.light-btn:hover{
    background: transparent;
    color: #C67ADB;
}
.dark-btn{
    background: #80159F;
    border: 2px solid #80159F;
}
.dark-btn:hover{
    background: transparent;
    color: #80159F;
}
.light-text{
    color: #C67ADB;
}
.dark-text{
    color: #80159F;
}
.section-title{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.section-title h4 {
    font-family: 'Raleway-Medium';
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.section-details{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.section-details p{
    font-family: 'ProximaNova-Regular';
    font-size: 30px;
    line-height: 50px;
}
#about, #promo, #services, #branches{
    padding: 100px 15px 120px;
}
section#services,
section#branches {
    background: #E1B6ED;
}
.cover{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.footer-details{
  text-align: center;
  display: block;
  padding: 15px;
  width: 100%;
  color: #B7B2B2;
}
.footer-details a{
  color: #B7B2B2;
}
.footer-scetion {
    min-height: 60px;
}
#homebanner{
  position: relative;
}
img.homebanner-img {
    position: absolute;
    right: -50px;
    width: 60%;
    bottom: -171px;
}
ul.navbar-nav {
    width: max-content;
    float: right;
}
.product-image {
    border: 0;
    height: 300px;
    width: 30%;
    float: left;
    display: block;
}
.product-info {
    width: 70%;
    float: left;
    display: block;
    padding: 0px 30px;
}
.product-info h5 {
    font-size: 35px;
    color: #17171C;
    font-family: 'ProximaNova-Regular';
}
.product-info p {
    font-family: 'ProximaNova-Regular';
    font-size: 24px;
    line-height: 40px;
}
.product-details {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}
button.service-btn i {
    margin-right: 10px;
}
button.service-btn {
    border: 0;
    background: #AC52C5;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    line-height: 45px;
    padding: 0px 20px;
    letter-spacing: 1px;
}
.collapse-content {
    margin-top: 30px;
}
.collapse-content h6 {
    font-family: 'ProximaNova-Regular';
    font-size: 24px;
    color: #C67ADB;
    text-transform: uppercase;
    line-height: 1;
}
ul.service-list li{
    font-family: 'ProximaNova-Regular';
    font-size: 24px;
    line-height: 40px;
    margin: 0;
}
.promo-outer, .monthly-promo{
  box-shadow: 1px 5px 4px 2px rgba(0, 0, 0, 0.1), 2px 1px 3px 2px rgba(0, 0, 0, 0.1);
}
.promo-img {
    height: 300px;
}
.promo-outer{
  margin-top: 30px;
}
.monthly-promo {
    border: 4px solid #C67ADB;
}
.promo-details h5 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'ProximaNova-SemiBold';
    color: #80159F;
    font-size: 25px;
}
.promo-details {
    padding: 30px;
}
.promo-details h6 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'ProximaNova-Regular';
    font-weight: bold;
}
.promo-details p {
    font-size: 18px;
    font-family: 'ProximaNova-Regular';
    line-height: 25px;
    margin: 0;
}
span.price {
    display: block;
    color: #80159F;
    font-family: 'ProximaNova-SemiBold';
    font-size: 18px;
    margin-top: 30px;
}
ul.tab-btn-section {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1;
}
ul.tab-btn-section li{
    display: inline-block;
    border-bottom: 3px solid #E1B6ED;
    margin: 0px 15px;
}
ul.tab-btn-section li:hover,
ul.tab-btn-section li:active,
ul.tab-btn-section li:after,
ul.tab-btn-section li:visited
{
  border-bottom: 3px solid #80159F;
}
a.tab-button {
    font-size: 22px;
    font-family: 'ProximaNova-SemiBold';
    letter-spacing: 1px;
}
ul.tab-btn-section li:hover a.w3-red{
    border-bottom: 3px solid #80159F;
}
.w3-red, .w3-hover-red:hover {
    color: #80159F !important;
}
.tab-container {
    padding: 15px;
    width: 100%;
    text-align: center;
}
.tab-container h2{
    font-family: 'ProximaNova-Regular';
    width: 100%;
    font-size: 40px;
}
.contact-details{
  width: 100%;
}
p{
  width: 100%;
}
.contact-details li {
    font-size: 20px;
    display: inline-block;
    margin: 0px 10px;
    line-height: 1;
    margin-bottom: 15px;
}
.contact-details li i{
    color: #80159F;
}
.contact-details li a{
    font-family: 'ProximaNova-Regular';
    margin-left: 10px;
}
.image-inner{
  height: 300px;
  width: 33%;
  display: inline-block;
}
.image-section {
    width: 80%;
    margin: 0 auto;
}
ul.contact-details {
    margin-top: 15px;
}
.tab-container p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
/* M E D I A Q U E R Y */
@media only screen and (max-width: 1025px) {
  .home-banner-details {
    width: 450px;
  }
  .home-banner-details h5 {
    font-size: 35px;
    line-height: 40px;
  }
  .product-details {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  button.navbar-toggler.collapsed {
    float: right;
  }
  .nav-button{
    display: none;
  }
  button.navbar-toggler {
    position: absolute;
    right: 0;
  }
  .navbar-toggler {
    margin-right: 0px;
    padding: 0 5px;
    color: #000;
  }
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
    background: #80159F;
    border: 0 !important;
  }
  .navbar-toggler .ti {
    line-height: 42px;
    font-size: 30px;
    color: #fff;
  }
  ul.navbar-nav {
    width: 100%;
    float: none;
    text-align: left;
    padding: 10px 15px;
    background: #80159F;
  }
  .site-header .navbar-brand img {
    max-width: 100%;
    max-height: 100px;
    top: 0px;
  }
  #mainnav a.nav-link {
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center;
  }
  .section-title h4 {
    font-size: 40px;
    line-height: 55px;
  }
  .section-details p {
    font-size: 26px;
    line-height: 40px;
  }
  #about, #promo, #services, #branches {
    padding: 70px 15px 70px;
  }
  .product-image{
    width: 40%;
  }
  .product-info{
    width: 60%;
  }
  .promo-outer {
    margin-top: 0px;
  }
  .image-section {
    width: 100%;
  }
  .image-inner {
    height: 250px;
    width: 32%;
    display: inline-block;
  }
  .tab-container h2 {
    font-size: 35px;
  }

}
@media only screen and (max-width: 991px) {
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    border: 0 !important;
  }
  div{
    border: 0;
  }
  .navbar-collapse:after {
    background-image: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .promo-outer{
    margin-bottom: 30px;
  }
  .product-image {
    height: 250px;
  }
  .monthly-promo {
    margin-bottom: 30px;
  }
  .product-info h5 {
    font-size: 30px;
  }
  .product-info p {
    font-size: 20px;
    line-height: 30px;
  }
  button.service-btn {
    font-size: 18px;
    line-height: 35px;
    padding: 0px 15px;
    letter-spacing: 1px;
  }

}
@media only screen and (max-width: 767px) {
  .site-header .navbar-brand img {
    left: 15px;
  }
  button.navbar-toggler {
    margin-right: 15px;
  }
  .home-banner-details {
      left: 0;
      display: block;
      right: 0;
      margin: 0 auto;
  }
  .before-header p {
    display: none;
  }
  .product-info {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .product-image {
    height: 250px;
    width: 100%;
  }
  .section-title h4 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    padding-left: 15px !important;
    padding-right: 0px !important;
    max-width: 100%;
  }
  ul.tab-btn-section li {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .promo-img {
    height: 250px;
}
  .image-inner {
    height: 250px;
    width: 100%;
    display: inline-block;
  }
  .home-banner-details {
    width: 100%;
  }
}
